@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Images/quantum.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 10px;
}

.container h1{
    font-size: 20px;
}

.quiz {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    text-align: left;
    width: 50%;
    margin: auto;
}

.quiz h2 {
    text-align: center;
    font-size: 18px;
}

.question-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.question-box p {
    font-size: 13px;
}

.question-box label{
    font-size: 13px;
}

.next-button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 0 auto;
    padding: 5px 10px;
    margin-top: 1%;
}

.quantum {
    display: none; /* This will hide the image tag that is not necessary */
}
